.wrapper {
  display: flex;
  flex-direction: column;

  .item {
    margin-bottom: 4px;
  }

  ::ng-deep .dx-datagrid {
    .dx-icon-check {
      color: rgb(0, 255, 0);
    }
    .dx-icon-close {
      color: red;
    }
  }
}
