.ar-view-wrapper {
    display: flex;
    flex-direction: column;
    ::ng-deep .dx-datagrid {
        .dx-toolbar {
          background-color: rgb(255, 255, 255);
          padding: 5px 5px;
          border-radius: 8px;
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.04);
        }
    
        .fields {
          display: flex;
          flex-direction: row;
          align-items: center;
    
          .field-label {
            padding-right: 8px;
          }
    
          .field-value {
            padding-right: 8px;
            color: black;
          }
        }
    
        .dx-button-content {
          justify-content: space-between;
        }
      }
}

.tb-view-wrapper {
  margin-top: 18px;
  margin-bottom: 18px;
}

.aceptar-button{
  ::ng-deep .dx-button {
    float: inline-end;
  }
}